doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Welcome
    link(rel='stylesheet', href='stylesheets/default-' + version + '.css')
  body
    section#wrapper
    script(src='javascripts/default-' + version + '.js')
